
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*min text nedan*/

*{
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: 'Poppins', sans-serif;
   
}

.wrapper {
    width: 1440px;
    margin: 0 auto;
    padding: 0 64px;
}

/* startmenyn nedan */

.nav{
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    position: relative;      
}

button{
    background-color: #ECD400;
    color: #202E55;
    font-weight: 600;
    text-align: center;
    border: #ECD400;
    border-radius: 1000px;
    cursor: pointer;
}

.nav-button{
    width: 134px;
    height: 50px;
    line-height: 24px;
    margin-left: auto;
    font-size: 14px;
}

.start-meny li {
    list-style: none;
    display: inline-block;
    font-size: 14px;
    color: #202E55;
    line-height:24px;
    font-weight: 600;
    gap: 32px;
    margin-left: 32px;
    
}

.hamburger-meny{
    margin-right: 15px;
    color:#202E55;
    margin-left: 50px;
    padding: 10px;
    background-color: #ECD400;
    border: #202E55;
    border-radius: 1000px;
    display: none;
}

/*bakgrundsbild och övrig info på första sidan nedan */

.hero-image {
    background-image: url("/images/Hero.png");
    background-color: #E5E5E5; 
    width: 1440px;
    height: 780px;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    margin: 0 auto; 
    margin-bottom: 104px;
  }

  h1{
    font-size: 48px;
    line-height: 52x;
    font-weight: 600;
    color: #202E55;
    width: 500px;
  }

  p{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #202E55;
  }

  .header-text{
    margin-top: 54px;
    margin-bottom: 32px;
    width: 461px; 
  }

.header-button{
    width: 160px;
    height: 52px;
    margin-left: auto;
    line-height: 22px;
    font-size: 16px;
  }
  header{
    margin-left: 80px;
    margin-top: 61px;

  }

  /*sida nr 2 nedan*/
.news{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
  }

  .small-title
  {
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    color: #B4CAE2;

  }

  h2{
    font-size: 32px;
    line-height: 36px;
    font-weight: 600;
    color: #202E55;
    margin-top: 16px;
  }

  .shop-button
  {
    width: 153px;
    height: 52px;
    margin-left: auto;
    line-height: 22px;
    font-size: 16px;
    margin-top: 24px;

  }

  .left-column{
    width: 480px;
    margin-left: 80px;
  }
  .news-image{
    width: 656px;
    height: 520px;
  }
  
  .news-text{
    margin-top: 24px;
  }

  .readmore-button
  {
    width: 128px;
    height: 52px;
    margin-left: auto;
    line-height: 22px;
    font-size: 16px;
    margin-top: 24px;
  }

  .right-column{
    width: 480px;
    margin-top: 104px;
  }

  .img1{
    margin-left: auto;
  }
  .img2{
    margin-right: auto;
    margin-top: 104px;
    margin-right: 96pxs;
  }

  /*sida nr 3 (formuläret) nedan*/

  .background-form{
    margin-top: 104px;
    width: 1312px;
    height: 895px;
    background-color: #F5F5F5;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
  }

  .contact{
    margin: 80px 112px;
  }

  h3{
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    color: #A6A9AE;
  }

  .form-textbox{
    max-width: 480px;
    height: 78px;
    margin-top: 24px;
  }

  .user-info{
    width: 1088px;
    height: 48px;
    border: #C8C2BD;
    border-radius: 4px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    margin-top: 8px;
    color: #202E55;
    display: block;
  }

  .small-title-form{
    margin-top: 24px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
  }

  .form-hr{
    width: 1088px;
    height: 1px;
    opacity: 0.2;
    background-color: #464749;
    margin-top: 22px;
  }

  .radio{
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-between;
    
  }

  .radio input{
    opacity: 0;
    position: absolute;
  }

  .radio input ~div{
    width: 540px;
    height: 50px;
    border-radius: 1000px;
    border-style: solid;
    border-width: 1px;
    margin: 0px;
  }

  .radio label{
    display: block;
    width: 540px;
    height: 50px;
    margin-top: 24px;
    cursor: pointer;
  }

  .radio input:checked~div{
    background-color: #ECD400;
    border: none;
  }

  .radio .category-div{
    display: table-cell;
    width: 540px;
    height: 50px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    line-height: 22px;
    color: #202E55;
    font-weight: 600;
    cursor: pointer;
  }

  .form-buttons{
    display: flex;
    justify-content: space-between;
  }

  .clear-button{
    width: 536px;
    height: 56px;
    font-size: 16px;
    line-height: 22px;
    margin-top: 24px;
    background-color: #F5F5F5;
    border:solid #202E55;
    border-width: 1px;
  }

  .send-button{
    width: 536px;
    height: 56px;
    font-size: 16px;
    line-height: 22px;
    margin-top: 24px;
  }

    /*sida nr 4 (sista sidan) nedan*/

  .last-page{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .img-footer{
    background-image: url("/images/Fullwith.jpg");
    width: 1440px;
    height: 480px;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    margin: 0 auto; 
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 104px;
  }

  .final-title{
      font-size: 48px;
      line-height: 52px;
      font-weight: 600;
      color: white;
      margin-top: 112px;
  }

  .white-text{
      font-size: 16px;
      line-height: 26px;
      font-weight: 400;
      text-align: center;
      color: white;
      margin-top: 24px;
      max-width: 465px;
  }

  .last-button{
    width: 233px;
    height: 52px;
    font-size: 16px;
    line-height: 22px;
    background-color: white;
    margin-top: 24px;
  }
  
  .background-footer {
    background-color: #ECD400;
    width: 1440px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
  }

  .footer-text{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
  }

  .text-container{
    max-width: 560px;
    height: 210px;
    margin-left: 34px;
    margin-top: 11px;
  }

  footer{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: 0px;
  }

  .footer-hr{
    width: 1312px;
    border-width:0;
    height: 1px;
    background-color:#202E55;
  }

  .contact-hr{
    border-width:0;
    height: 1px;
    background-color:#202E55;
  }

  .contact-info{
    width: 192px;
    height: 200px;
    margin-left: 272px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    margin-top: 17px;
  }

  .footer-title{
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 24px;
  }

  .footer-meny li{
    list-style: none;
    display: inline-block;
    font-family: 'PP Neue Machina', monospace;
    font-size: 14px;
    line-height: 24px;
    font-weight: 800px;
    margin-top: 64px;
    margin-bottom: 64px;
    margin-left: 32px;
  }

  .footer-meny li a{
    color:#202E55;
  }

  /* mobilanpassad version nedan */

  @media screen and (max-width: 600px) {

    .wrapper{
      width: 100%;
      padding: 0 24px;
    }

    .hero-image{
        width: 100%;
        height: auto;
        margin-bottom: 40px;  
    }

    .nav{
        height: 80px;
    }
    
    .logo{
        width: 50px;
        height: 60px;
    }

    .hamburger-meny{
      display: block;
    }

    h1{
        font-size: 16px;
        line-height: 20px;
        margin-top: 15px;
        max-width: 250px;

      }

      .start-meny{
        display: none;
      }

      .nav-button{
        width: 110px;
        height: 40px;
        line-height: 22px;
        font-size: 12px;
    }


      .header-text{
        margin-top: 20px;
        margin-bottom: 15px;
        max-width: 250px; 
    
      }

      header{
        margin-left: 0px;
        margin-top: 0px;
      }

      p{
        font-size: 12px;
        line-height: 22px;
      }

      .header-button{
        width: 110px;
        height: 40px;
        font-size: 12px;
        line-height: 22px;
        margin-bottom: 20px;
    }

    .left-column{
      width: 300px;
      margin-left:0px;
    }

    .right-column{
      max-width: 300px;
      margin-top: 0px;
    }

    .news-image{
      width: 100%;
      height: auto;
    }

    .img1{
      order: -1;
    }

    .img2{
      margin-top: 50px;
    }

    .news{
      flex-wrap: nowrap;
      flex-direction: column;  
  }

  .small-title
  {
    margin-top: 20px;
  }

  h2{
    font-size: 24px;
    line-height: 28px;
  }

  .background-form{
    max-width: 100%;
    height: auto;
    margin-top: 50px;
  }

  .form-hr{
    width: 280px;
  }

  .user-info{
    width: 280px;
  }

  .contact{
    margin: 50px 20px;
  }

  .form-buttons{
    flex-wrap: wrap;
  }

  .last-page{
  display:unset;
  flex-direction: unset;
  align-items: unset;
  }

  .img-footer{
    margin-top: 40px;
    width: 100%;
    height: auto;
  }

  .final-title{
    font-size: 28px;
    line-height: 32px;
    margin-top: 50px;
  }

  .white-text{
    width: 320px;
    font-size: 12px;
    line-height: 22px;
  }

  .last-button{
    width: 130px;
    height: 50px;
    font-size: 12px;
    line-height: 22px;
    margin-bottom: 50px;
  }
  
  .background-footer {
    max-width: 100%;
    padding-top: 15px;
    height: auto;
    align-items: unset;
  }

  .text-container{
    display: none;
  }

  .contact-info{
    height: auto;
    margin-left: 0px;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
  }

  .contact-hr{
    width: 100px;
  }

 .last-logo{
    width: 80px;
    height: 90px;
    margin-top: 30px;
    margin-left: 20px;
 }

  .footer-text{
    justify-content: space-evenly;
    margin-bottom: 0px;
  }

  .footer-hr{
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .footer-meny{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .footer-meny li{
    font-size: 10px;
    line-height: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 10px;
  }

  }

 

